<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite"> 
	<test thread-count="5" name="NavigateToServiceTest">
		<classes>
			<class name="test.Excercisev1PageFactory.HomePageTest" />
		</classes>
	</test> 
	<test thread-count="5" name="NavigateTabsTest">
		<classes>
			<class name="test.Excercisev1PageFactory.ServicePageNavigationTest" />
		</classes>
	</test> 
	<test thread-count="5" name="CreateAccountsTest">
		<classes>
			<class name="test.Excercisev1PageFactory.CreateAccountsTest" />
		</classes>
	</test> 
	<test thread-count="5" name="CreateContactTest">
		<classes>
			<class name="test.Excercisev1PageFactory.CreateContactTest" />
		</classes>
	</test>
	<test thread-count="5" name="ModifyAccountTest">
		<classes>
			<class name="test.Excercisev1PageFactory.ModifyAccountTest" />
		</classes>
	</test>
	
</suite> <!-- Suite -->
